<div style="width: 600px; height: 430px; background-image: url('https://i.postimg.cc/pr8Q3FTP/chinese-diploma-backgroud-ready.jpg'); background-size: cover; background-repeat: no-repeat;">
  <link rel="preconnect" href="https://fonts.googleapis.com"><link rel="preconnect" href="https://fonts.gstatic.com" crossorigin><link href="https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap" rel="stylesheet">
  <p style="margin-left: 45%; margin-top: 0px; margin-bottom: 0px; padding-top: 18%; font-size: 64px;">
    🥠
  </p>
  <p style="font-family: fantasy; font-style: italic; width: 75%; font-size: 26px; display: inline-block; margin-left: 14%; margin-top: 0px">
    Hey
  </p>
</div>
<p>
  By <a href="https://twitter.com/MiguelSzerman" target="_blank">Miguel</a>
</p>